body {
    background-image: url(../imgs/back.jpg); 
 background-position: center;  
 background-repeat: no-repeat;
    background-size: cover;}




#paragraaf1 {
    font-size: 30px;
    color: blue;
}
#paragraaf2 {
    font-size: 30px;
    color: blue;
}
*{
color: rgb(255, 255, 255);
text-align: center;

}